<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mxch.imgreconsturct.mapper.AdminMapper">

    <select id="selectPageByKeyword" resultType="com.mxch.imgreconsturct.pojo.User">
        SELECT * from tb_user where 1=1
        <if test="keyWord != null and keyWord != ''">
            AND user_name LIKE CONCAT('%',#{keyWord},'%')
        </if>
        ORDER BY role_id ASC,id ASC
    </select>
</mapper>